/JJTLARAEcmaScriptState.java
/LARAEcmaScript.java
/LARAEcmaScript.jj
/LARAEcmaScriptConstants.java
/LARAEcmaScriptTokenManager.java
/LARAEcmaScriptTreeConstants.java
/Token.java
/Node.java
/JavaCharStream.java
/ASTEventAdaptation.java
/ASTPeriodicAdaptation.java
/ASTStartCondition.java
/ASTStopCondition.java

# These files have custom changes
#/TokenMgrError.java
#/ParseException.java

/ASTGeneratorFunctionDeclaration.java
/ASTYieldStatement.java
/ASTGeneratorFunctionExpression.java
