body {
	font-family: "Open Sans",arial,x-locale-body,sans-serif;
}

/* unvisited link */
a:link {
    color: #004444;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #004444;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #004444;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #004444;
    text-decoration: underline;
}

#row1{
    display:flex;
    flex-direction:row;
	/* justify-content: space-around; */
}

/** unfixed version **/

#column1{
    display:flex;
    flex-direction:column;
	padding-right: 30px;
	padding-left: 1em;
}


#column2{
    display:flex;
    flex-direction:column;
}


/** fixed version **/
/*
#column1{
	position: fixed;
	overflow-y: auto;
	left: 0px;
	width: 30%;
	height: 100%;
	padding-left: 1%;
}


#column2{
	width: 66%;
	overflow: hidden;
	left: 32%;
	position: absolute;
}
*/
ul {
	padding-left: 1em;
}

/**
 * Taken from here: https://www.tipsandtricks-hq.com/simple-table-of-contents-toc-using-pure-html-and-css-code-9217
 */

#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

.toc_class {
	margin-bottom: 0px;
}


.toc_top_element {
	padding-top: 0.5em;
}

.toc_sublist {
	padding-top: 0.5em;
}

.function_block {
	/* padding-top: 1em; */
	padding-bottom: 1em;
}

.function_content {
	padding-left: 2em;
}

code {
	padding-left: 10px;
}

.parameters {
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
}

