/* Generic colors */

:root {
  --white: #fff;
  --lighter-gray: #e4e4e4;
  --light-gray: #d4d4d4;
  --gray: #a2a2a2;
  --dark-gray: #747474;
  --darker-gray: #313131;
  --black: #000;
  --light-blue: #19d8ff;
  --strong-translucid-light-blue: #19d8ff66;
  --weak-translucid-light-blue: #19d8ff33;
}

/* Color Scheme */

:root {
  --bg-color: var(--white);
  --text-color: var(--darker-gray);
  --header-color: var(--lighter-gray);
  --border-color: var(--gray);
  --icon-color: var(--darker-gray);

  --button-bg-color: var(--white);
  --button-hover-bg-color: var(--lighter-gray);
  --button-disabled-bg-color: var(--lighter-gray);
  --button-disabled-text-color: var(--darker-gray);
  --button-disabled-icon-color: var(--darker-gray);

  --tab-bg-color: var(--white);
  --tab-hover-bg-color: var(--lighter-gray);
  --tab-active-bg-color: var(--light-gray);

  --highlight-color: var(--light-blue);
  --secondary-highlight-color: var(--strong-translucid-light-blue);
  --tertiary-highlight-color: var(--weak-translucid-light-blue);

  --line-num-color: var(--dark-gray);
}