@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: "Roboto", sans-serif;
}

#ast-code-visualization > article {
  display: inline-block;
}

#ast-code-visualization > article:not(:first-of-type) {
  margin-left: 5em;
}

pre {
  width: 50em;
  height: 80em;
  overflow: auto;
  border: 1px solid black;
  border-radius: 2px;
  cursor: default;
  user-select: none;
}

pre * {
  transition: background-color 0.05s linear;
}

.ast-node::before {
  content: ' - ';
}

#continue-button {
  display: block;
}

/* TODO: Refactor previous code */

