body {
  height: 100vh;
  margin: 0;
  position: relative;

  font-family: 'Roboto', sans-serif;
  color: var(--text-color);

  display: grid;
  grid-template-rows: 4em calc(100vh - 4em);  /* To force the containers to not span beyond the window size */
}

.icon {
  color: var(--icon-color);
}

button {
  height: 2.5em;
  padding: 0 1.25em;
  background-color: var(--button-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 2px;

  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  cursor: pointer;

  transition: background-color 0.1s linear, color 0.1s linear;
}

button .icon {
  color: var(--icon-color);
}

button:hover {
  background-color: var(--button-hover-bg-color);
}

button:disabled {
  background-color: var(--button-disabled-bg-color);
  cursor: not-allowed;
}


header {
  padding: 0.5em;
  background-color: var(--header-color);
  
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5em;
}

header .specs-logo {
  height: 100%;
}

header h1 {
  font-size: 1.5em;
}


main {
  padding: 1em 2em 2em;
  background-color: var(--bg-color);

  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas: "continue-button code"
                       "ast             code";
  gap: 1em;
}


#continue-button {
  width: fit-content;

  grid-area: continue-button;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

#ast-container {
  grid-area: ast;
}

#code-container {
  grid-area: code;
}


.container {
  box-sizing: border-box;
  height: 100%;
  padding: 0.25em 0.5em;
  margin: 0;
  border: 1px solid var(--border-color);
  border-radius: 2px;

  display: flex;
  flex-direction: column;

  overflow: auto;
  user-select: none;
  -webkit-user-select: none;
}


#ast-container {
  font-weight: 500;
  line-height: 1.25em;
}

.ast-node {
  width: min-content;

  font-weight: 500;

  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.25em
}

.ast-node button {
  height: 1.5em;
  padding: 0;
  background-color: var(--bg-color);
  border: none;
  border-radius: 50%;

  cursor: default;
}

.ast-node button:disabled .icon {
  color: var(--disabled-icon-color);
}

.ast-node-dropdown {
  padding-left: 2em;
}


#code-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

#code-container pre {
  margin: 0;
}

#code-container .lines, #code-container code {
  font-family: "JetBrains Mono", monospace;
}

#code-container .lines {
  color: var(--line-num-color);
}


#node-info-container {
  position: absolute;
  right: 3em;
  bottom: 3em;

  display: none;
}
