<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/LARAC/src/larac/LARACLauncher.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="larac.LARACLauncher"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="tiago.lara&#13;&#10;-x newSpecs&#13;&#10;-d"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="LARAC"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${working_dir}/LARAC"/>
</launchConfiguration>
